body {
    background-color: rgb(245, 243, 233);
}

#gameboard {
    box-align: center;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(105, 202, 226);
    /* border: 6px rgb(0, 204, 255) solid; */
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 3px;
}

#coins {
    margin: 0 auto;
}

td {
    
    background-color: rgba(255, 255, 255, 0.25);
    /* border-radius: 50%;  */
    height: 70px;
    width: 70px;
    padding: 5px;
}

td:hover {
    cursor: pointer;
}

th {
    background-color: transparent;
    /* border-radius: 50%;  */
    height: 70px;
    width: 70px;
    padding: 5px;
}

.col {
    text-align: center;
}

#message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    color: rgba(39, 64, 70, 0.6);
}

.bright {
    background-color: rgba(255, 255, 255, 0.5);
    
}

.black {
    background-color: rgba(8, 70, 85, 0.8);
}

.red {
    background-color: rgba(255, 0, 0, 0.5);
}

.animate-black {
    animation: black-coins 0.2s 0.1;
}

@keyframes black-coins {
    0% {background-color: rgb(8, 70, 85);}
    
}

.animate-red {
    animation: red-coins 0.2s 0.1;
}

@keyframes red-coins {
    0% {background-color: rgb(255, 120, 120);}
    
}

.black-square {
    background-color: rgba(0, 0, 0, 0.5)
}

.red-square {
    background-color: rgba(255, 120, 120, 0.9);
}